<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-sales-stats-heading" jhiTranslate="exerciseApp.userSalesStats.home.createOrEditLabel">Create or edit a User Sales Stats</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userSalesStats.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userSalesStats.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exerciseApp.userSalesStats.salesAmout" for="field_salesAmout">Sales Amout</label>
                    <input type="number" class="form-control" name="salesAmout" id="field_salesAmout"
                        [(ngModel)]="userSalesStats.salesAmout" required/>
                    <div [hidden]="!(editForm.controls.salesAmout?.dirty && editForm.controls.salesAmout?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.salesAmout?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.salesAmout?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exerciseApp.userSalesStats.ticketAmout" for="field_ticketAmout">Ticket Amout</label>
                    <input type="number" class="form-control" name="ticketAmout" id="field_ticketAmout"
                        [(ngModel)]="userSalesStats.ticketAmout" required/>
                    <div [hidden]="!(editForm.controls.ticketAmout?.dirty && editForm.controls.ticketAmout?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ticketAmout?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.ticketAmout?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exerciseApp.userSalesStats.fcsAmout" for="field_fcsAmout">Fcs Amout</label>
                    <input type="number" class="form-control" name="fcsAmout" id="field_fcsAmout"
                        [(ngModel)]="userSalesStats.fcsAmout" required/>
                    <div [hidden]="!(editForm.controls.fcsAmout?.dirty && editForm.controls.fcsAmout?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fcsAmout?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.fcsAmout?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exerciseApp.userSalesStats.ecsAmout" for="field_ecsAmout">Ecs Amout</label>
                    <input type="number" class="form-control" name="ecsAmout" id="field_ecsAmout"
                        [(ngModel)]="userSalesStats.ecsAmout" required/>
                    <div [hidden]="!(editForm.controls.ecsAmout?.dirty && editForm.controls.ecsAmout?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ecsAmout?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.ecsAmout?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exerciseApp.userSalesStats.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="userSalesStats.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === userSalesStats.user?.id ? userSalesStats.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
