<div>
    <h2 id="page-heading">
        <span >Sales statistics for all users</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userSalesStats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="user.login"><span jhiTranslate="exerciseApp.userSalesStats.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salesAmout"><span jhiTranslate="exerciseApp.userSalesStats.salesAmout">Sales Amout</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ticketAmout"><span jhiTranslate="exerciseApp.userSalesStats.ticketAmout">Ticket Amout</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fcsAmout"><span jhiTranslate="exerciseApp.userSalesStats.fcsAmout">Fcs Amout</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ecsAmout"><span jhiTranslate="exerciseApp.userSalesStats.ecsAmout">Ecs Amout</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let userSalesStats of userSalesStats ;trackBy: trackId">
                <td>
                    {{userSalesStats.user?.login}}
                </td>
                <td><span class="badge badge-danger">{{userSalesStats.salesAmout}}</span></td>
                <td><span class="badge badge-danger">{{userSalesStats.ticketAmout}}</span></td>
                <td><span class="badge badge-info">{{userSalesStats.fcsAmout}}</span></td>
                <td><span class="badge badge-info">{{userSalesStats.ecsAmout}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
