<div>
    <h2 id="page-heading">
        <span jhiTranslate="exerciseApp.flight.home.title">Flights</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-flight" [routerLink]="['/flight/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="exerciseApp.flight.home.createLabel">
            Create new Flight
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="flights">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flightCode"><span jhiTranslate="exerciseApp.flight.flightCode">Flight Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="departureDate"><span jhiTranslate="exerciseApp.flight.departureDate">Departure Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fcsRemain"><span jhiTranslate="exerciseApp.flight.fcsRemain">Fcs Remain</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ecsRemain"><span jhiTranslate="exerciseApp.flight.ecsRemain">Ecs Remain</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let flight of flights ;trackBy: trackId">
                <td><a [routerLink]="['/flight', flight.id, 'view' ]">{{flight.id}}</a></td>
                <td>{{flight.flightCode}}</td>
                <td>{{flight.departureDate | date:'medium'}}</td>
                <td>{{flight.fcsRemain}}</td>
                <td>{{flight.ecsRemain}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/flight', flight.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/flight', flight.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'flight/'+ flight.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
